/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper{
    width: 990px;
    height: 1000px;
    margin: 0 auto;
    animation-name: backgroundone, rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;
}

@keyframes backgroundone{
    0% {transform: translate(-250px, 0);}
        50% {border-radius: 0;}
        100% {transform: translate(250px, 0);}

}

#square1,#square2,#square3,#square4,#square5{
    width: 70px;
    height: 70px;
    background-color: green;
    margin: 14.5px;
    float: left;
    animation-name: firstrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;
}
@keyframes firstrow{
    0% {transform: translate(-250px, 0);}
        50% {border-radius: 0;}
        100% {transform: translate(250px, 0);}

}


#square6,#square7,#square8,#square9,#square10{
    width: 70px;
    height: 70px;
    background-color: yellow;
    margin: 14.5px;
    float: left;
    animation-name: firstroww;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;

}

@keyframes firstroww{
    0% {transform: translate(0, -250px);}
        50% {border-radius: 0;}
        100% {transform: translate(0, 250px);}

}



#bigsquare1,#bigsquare2,#bigsquare3{
    width: 140px;
    height: 140px;
    background-color: red;
    margin: 12.3px;
    float: left;
    animation-name: secondrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;

}

@keyframes secondrow{
    0% {transform: translate(0, -500px);}
        50% {border-radius: 0;}
        100% {transform: translate(500px, 250px);}

}



#bigsquare4,#bigsquare5,#bigsquare6{
    width: 140px;
    height: 140px;
    background-color: blue;
    margin: 12.3px;
    float: left;
    animation-name: secondroww;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;

}

@keyframes secondroww{
    0% {transform: translate(0, 500px);}
        50% {border-radius: 0;}
        100% {transform: translate(-500px, -250px);}

}

#hugesquare1,#hugesquare2,#hugesquare3{
    width: 280px;
    height: 280px;
    background-color: orange;
    margin: 24px;
    float: left;
    animation-name: thirdrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-iteration-count: 20, 20;
    animation-direction: alternate, normal;
    animation-fill-mode: backwards;  
    border-radius: 50px;

}

@keyframes thirdrow{
    0% {transform: translate(1400px, 0px);}
        50% {border-radius: 0;}
        100% {transform: translate(-500px, -250px);}

}

#rectangle{
    width: 930px;
    height: 375px;
    background-color: purple;
    margin-left: 25px;
    
    float: left;

}

@keyframes rainbow{0%
    {background: #000000;}
    11% {background: #ff0000;}
    22% {background: #ff9900;}
    33% {background: #ffff00;}
    44% {background: #00ff33;}
    55% {background: #00ffff;}
    66% {background: #0000ff;}
    77% {background: #ff00ff;}
    88% {background: #662382;}
    100% {background: #ffffff;}
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
